This is the analysis for twitter stock price analysis for past years.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel('TWTR.xlsx')
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-01-01,45.099998,50.090000,44.000000,44.900002,44.900002,117701670.0
1,2018-01-02,45.930000,46.939999,40.685001,41.650002,41.650002,27925307.0
2,2018-01-03,40.500000,43.000000,39.400002,42.900002,42.900002,16113941.0
3,2018-01-04,43.660000,43.779999,41.830002,41.900002,41.900002,6316755.0
4,2018-01-05,41.029999,42.869999,40.759998,42.599998,42.599998,8688325.0

In [3]:
df.shape

(2264, 7)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2264 entries, 0 to 2263
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2264 non-null   datetime64[ns]
 1   Open       2259 non-null   float64
 2   High       2259 non-null   float64
 3   Low        2259 non-null   float64
 4   Close      2259 non-null   float64
 5   Adj Close  2259 non-null   float64
 6   Volume     2259 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 123.9 KB

In [5]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [6]:
df.describe()

,Date,Open,High,Low,Close,Adj Close,Volume
count,2264,2259.000000,2259.000000,2259.000000,2259.000000,2259.000000,2.259000e+03
mean,2021-02-05 12:00:00,36.020286,36.699881,35.339465,36.003625,36.003625,2.175186e+07
min,2018-01-01 00:00:00,13.950000,14.220000,13.725000,14.010000,14.010000,0.000000e+00
25%,2019-07-20 18:00:00,25.550000,26.215001,24.912501,25.410000,25.410000,1.233530e+07
50%,2021-02-05 12:00:00,35.419998,36.099998,34.820000,35.490002,35.490002,1.691305e+07
75%,2022-08-25 06:00:00,44.205000,45.015000,43.327501,44.135000,44.135000,2.428082e+07
max,2024-03-13 00:00:00,78.360001,80.750000,76.050003,77.629997,77.629997,2.692131e+08
std,NaN,14.118463,14.372057,13.828724,14.089989,14.089989,1.909988e+07

In [7]:
df.isnull().sum()

Date         0
Open         5
High         5
Low          5
Close        5
Adj Close    5
Volume       5
dtype: int64

In [8]:
df_removeNull = df.dropna()
df_removeNull.shape

(2259, 7)

In [9]:
#replacing null values with mode and mean

for i in df.columns:
    if df[i].dtype == 'object':
        modal_value = df[i].mode()[0]
        df[i] = df[i].fillna(modal_value)

    else:
        mean_value = df[i].mean()
        df[i] = df[i].fillna(mean_value)

In [10]:
#after removing null values
df.isnull().sum()

#All nulls and missing values have been handled.

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [11]:
df.head(100)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-01-01,45.099998,50.090000,44.000000,44.900002,44.900002,117701670.0
1,2018-01-02,45.930000,46.939999,40.685001,41.650002,41.650002,27925307.0
2,2018-01-03,40.500000,43.000000,39.400002,42.900002,42.900002,16113941.0
3,2018-01-04,43.660000,43.779999,41.830002,41.900002,41.900002,6316755.0
4,2018-01-05,41.029999,42.869999,40.759998,42.599998,42.599998,8688325.0
...,...,...,...,...,...,...,...
95,2018-04-06,45.090000,46.400002,43.310001,46.320000,46.320000,15507597.0
96,2018-04-07,46.650002,47.340000,45.700001,47.299999,47.299999,9610491.0
97,2018-04-08,47.549999,47.750000,46.430000,46.669998,46.669998,5794497.0
98,2018-04-09,46.709999,47.590000,46.180000,46.980000,46.980000,6916147.0
99,2018-04-10,47.400002,47.439999,45.509998,45.730000,45.730000,7911260.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2264 entries, 0 to 2263
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2264 non-null   datetime64[ns]
 1   Open       2264 non-null   float64
 2   High       2264 non-null   float64
 3   Low        2264 non-null   float64
 4   Close      2264 non-null   float64
 5   Adj Close  2264 non-null   float64
 6   Volume     2264 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 123.9 KB

In [13]:
df.describe()

,Date,Open,High,Low,Close,Adj Close,Volume
count,2264,2264.000000,2264.000000,2264.000000,2264.000000,2264.000000,2.264000e+03
mean,2021-02-05 12:00:00,36.020286,36.699881,35.339465,36.003625,36.003625,2.175186e+07
min,2018-01-01 00:00:00,13.950000,14.220000,13.725000,14.010000,14.010000,0.000000e+00
25%,2019-07-20 18:00:00,25.575000,26.245000,24.926250,25.492500,25.492500,1.235467e+07
50%,2021-02-05 12:00:00,35.449999,36.133801,34.849998,35.530000,35.530000,1.697204e+07
75%,2022-08-25 06:00:00,44.200001,45.000000,43.313751,44.085000,44.085000,2.424488e+07
max,2024-03-13 00:00:00,78.360001,80.750000,76.050003,77.629997,77.629997,2.692131e+08
std,NaN,14.102857,14.356171,13.813438,14.074415,14.074415,1.907877e+07

In [14]:
import statistics
from scipy import stats

In [15]:
t_stat_high_low, p_val_high_low = stats.ttest_ind(df['High'], df['Low'])
t_stat_high_close, p_val_high_close = stats.ttest_ind(df['High'], df['Close'])
t_stat_low_close, p_val_low_close = stats.ttest_ind(df['Low'], df['Close'])

print("High vs Low: t-stat =", t_stat_high_low, ", p-value =", p_val_high_low)
print("High vs Close: t-stat =", t_stat_high_close, ", p-value =", p_val_high_close)
print("Low vs Close: t-stat =", t_stat_low_close, ", p-value =", p_val_low_close)

High vs Low: t-stat = 3.2491031475314323 , p-value = 0.0011661543315521926
High vs Close: t-stat = 1.6478380770928303 , p-value = 0.0994553156763571
Low vs Close: t-stat = -1.602478762188645 , p-value = 0.10911956197449083

In [16]:
import numpy as np

def z_test(x1, x2):
    mean_diff = np.mean(x1) - np.mean(x2)
    std_diff = np.sqrt(np.var(x1)/len(x1) + np.var(x2)/len(x2))
    z = mean_diff / std_diff
    p = 2 * (1 - stats.norm.cdf(abs(z)))
    return z, p

z_high_low, p_high_low = z_test(df['High'], df['Low'])
print("Z-test (High vs Low): z =", z_high_low, ", p-value =", p_high_low)

Z-test (High vs Low): z = 3.249820943441555 , p-value = 0.001154776924967793

 Write the insights which you have got from the 
above tests:

High vs Low:
The p-value was less than 0.05, so we reject the null hypothesis.
➤ This means there is a significant difference between the average High and Low prices, 
which is expected since High usually represents the daily upper bound and Low the lower bound.

High vs Close:
The p-value was greater than 0.05, so we accept the null hypothesis.
➤ This indicates that the Close prices are not significantly different from High prices on average 
showing that the market often closes near the day’s high.

Low vs Close:
The p-value was less than 0.05, so we reject the null hypothesis.
➤ It suggests that Close prices are significantly higher than Low prices, which means the market generally recovers from 
intraday lows before closing.

 ## Visualization and Analysis

Show the Twitter stock prices over the years and 
give a conclusion: